// $primary-1 : #001933;
// $primary-2 : #003166;
// $primary-3 : #004a99;
// $primary-4 : #0063cc;
// $primary-5 : #007bff;
// $primary-6 : #3396ff;
// $primary-7 : #66b0ff;
// $primary-8 : #99caff;
// $primary-9 : #cce5ff;
// $primary-10 : #e5f2ff;

$primary-1 : #272e4e;
$primary-2 : #30385F;
$primary-3 : #5255A3;
$primary-4 : #8284C0;
$primary-5 : #9294C8;
$primary-6 : #A3A5D1;
$primary-7 : #B4B6D9;
$primary-8 : #C5C7E2;
$primary-9 : #D6D8EA;
$primary-10 : #E7E9F3;

$danger-1: #7f1d1d;
$danger-2: #991b1b;
$danger-3: #b91c1c;
$danger-4: #dc2626;
$danger-5: #ef4444;
$danger-6: #f87171;
$danger-7: #fca5a5;
$danger-8: #fecaca;
$danger-9: #fee2e2;
$danger-10: #fef2f2;

$success-1: #14532d;
$success-2: #166534;
$success-3: #15803d;
$success-4: #16a34a;
$success-5: #22c55e;
$success-6: #4ade80;
$success-7: #86efac;
$success-8: #bbf7d0;
$success-9: #dcfce7;
$success-10: #f0fdf4;

$neutral-1: #171717;
$neutral-2: #262626;
$neutral-3: #404040;
$neutral-4: #525252;
$neutral-5: #737373;
$neutral-6: #a3a3a3;
$neutral-7: #d4d4d4;
$neutral-8: #e5e5e5;
$neutral-9: #f5f5f5;
$neutral-10: #fafafa;
